body {
    color: #515151;
    background: #FAFAFA;
}

.custom-token {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #ededed;
    vertical-align: top;
    cursor: default;
    padding: 3px 5px;
    margin-bottom: 5px;
}


#cover-display {
    position: fixed;
    top: 0;
    left: 0;
    background: #444;
    background: rgba(68, 68, 68, 0.95);
    overflow: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1500;
}

#img-loading {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}


.alert-success {
    background-color: #00bc8c;
    border-color: #00bc8c;
    color: #ffffff;
}

.alert-danger {
    background-color: #d15b47 !important;
    border-color: #d15b47;
    color: #ffffff;
}

#main-container {
    min-height: calc(100% - 156px);
    margin-top: 20px;
}

#menu-name > a{
    padding-top: 5px;
    padding-bottom: 4px;
}

#main-container {

    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

}